// Base style for a product card with image/description
.oe_card_shadow {
    .oe_card_shadow_information {
        position: relative;
        flex: 0 0 auto;
        transition: .3s ease;
    }

    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

        .oe_opcity_information {
            background-color: #b3b3b3 !important;
        }
    }
}

.card-body:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.card-body:first-child {
    border-top-left-radius:  0px;
    border-top-right-radius:  0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #B69AD3;
    border-left: 9px solid #7e6a93;
}

// * Remove arrows from number inputs /
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}